<md-toolbar>
  <a md-button (click)="closeDialog()">
    <i class="material-icons">keyboard_backspace</i>
  </a>
  <h2 md-dialog-title>{{ locations.bldg_nm }}</h2>
</md-toolbar>

<div class="list-wrapper">

  <md-dialog-content>
    {{ locations.dongmyun }}
    <table width="100%" class="display responsive-table">
      <thead>
        <tr>
          <td>기간</td>
          <td>평수</td>
          <td>거래액</td>
          <td>층</td>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let deal of locations.deals">
          <td> {{deal.deal_yy}}.{{deal.deal_mm}}</td>
          <td> {{deal.bldg_area}}</td>
          <td> {{deal.sum_amount}}</td>
          <td> {{deal.aptfno}}</td>
        </tr>
      </tbody>
    </table>

  </md-dialog-content>

</div>
