<h2 md-dialog-title>{{ location.name }}</h2>
<md-dialog-content>
  {{ location.address }}
  <table width="100%">
    <thead>
      <tr>
        <td>평수</td>
        <td>거래액</td>
        <td>층수</td>
        <td>년</td>
        <td>월</td>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let deal of location.deals">
        <td> {{deal.bldg_area}}</td>
        <td> {{deal.sum_amount}}</td>
        <td> {{deal.aptfno}}</td>
        <td> {{deal.deal_yy}}</td>
        <td> {{deal.deal_mm}}</td>
      </tr>
    </tbody>
  </table>

</md-dialog-content>
