<div class="element-center">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"
           (mapClick)="mapClick()"
           (centerChange)="centerChange($event)">

    <div *ngFor="let location of locations">

      <agm-marker (markerClick)="markerClicked(location)"
                  [latitude]=location.point.coordinates[1]
                  [longitude]=location.point.coordinates[0]
                  [visible]="false">

        <agm-info-window [isOpen]="true"
                         [latitude]=location.point.coordinates[1]
                         [longitude]=location.point.coordinates[0]>
          <button md-button (click)="openDialog(location.id)"> {{location.bldg_nm}} </button>
      </agm-info-window>

      </agm-marker>
    </div>
  </agm-map>

  <div id="layer-on-map">
    <input class="search-input-on-map element-center" type="text"/>
    <button  (click)="refreshLocation()">
      <i class="material-icons">refresh</i>
    </button>
  </div>

</div>
