<div class="element-center">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">

    <div *ngFor="let location of locations">

      <agm-marker (markerClick)="markerClicked(location)"
                  [latitude]=location.point.coordinates[1]
                  [longitude]=location.point.coordinates[0]>

        <agm-info-window [isOpen]="location == select_location">
          <button (click)="openDialog(location.id)"> {{location.bldg_nm}} </button>
        </agm-info-window>

      </agm-marker>
    </div>
  </agm-map>

  <div id="layer-on-map">
    <input class="search-input-on-map element-center" type="text"/>
  </div>

</div>
