@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.gm-style-iw + div {display: none;}
.element-center {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.sebm-google-map-container {
    height: 80vh;
    width: 95vw;
}


@media only screen and (min-width: 768px) {
    body {
        background-color: #f0edeb;
    }

    .sebm-google-map-container {
        height: 70vh;
        width: 70vw;
    }

    .section {
        width: 50vw;
    }
}