@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

$layout-breakpoint-sm:     960px !default;

.gm-style-iw + div {display: none;}

.element-center {
    margin-left: auto;
    margin-right: auto;
}

.sebm-google-map-container {
    height: 98vh;
}

.search-input-on-map {
    height: 2em;
    min-width: 70%;
    vertical-align:top;
}
input[type="text"] { border: none }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

agm-map { position: relative;}

#layer-on-map {
    margin-left: 8px;
    min-width: 312px;
    text-align: left;
    border-radius: 3px;
    padding: 8px;
    left:8px;
    position: absolute;
    top: 16px;
    z-index: 99;
    background: white;
}

.mat-dialog-container {
    max-width: none!important;
    padding: 0px!important;
}

md-toolbar.mat-toolbar {
    padding-left: 0px;
}

.list-wrapper {
    padding: 16px;
}

button.mat-button {
    min-width: 56px;
}

.gm-style-iw {
    padding: 0px!important;
    margin: 0px!important;
}

.gm-style-iw + div {display: none;}


/*style the box*/
.gm-style .gm-style-iw {
    top: 0 !important;
    left: 0 !important;
    width: 60% !important;
    height: 100% !important;
    min-height: 10px !important;
    max-height: 24px !important;
    padding-top: 10px;
    display: block !important;
}

/* table  */
table.display{
    margin: 1em 0;
}

table.display th,
table.display td{
    padding: .5em 1em;
}

table.display th{ background: #D5E0CC; }
table.display td{ background: #fff; }


@media only screen and (min-width: 768px) {
    .mat-dialog-container {
        max-width: 40vw!important;
    }
}