@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

$layout-breakpoint-sm:     960px !default;

.gm-style-iw + div {display: none;}

.element-center {
    margin-left: auto;
    margin-right: auto;
}

.sebm-google-map-container {
    height: 100vh;
}

.search-input-on-map {
    height: 2em;
    width: 280px;
}

agm-map { position: relative;}

#layer-on-map {
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 40px;
    z-index: 99;
}

.mat-dialog-container {
    max-width: none!important;
    padding: 0px!important;
}

md-toolbar.mat-toolbar {
    padding-left: 0px;
}

.list-wrapper {
    padding: 16px;
}

button.mat-button {
    min-width: 56px;
}

.gm-style-iw {
    padding: 0px!important;
    margin: 0px!important;
}

.gm-style-iw + div {display: none;}

/* table  */
table.display{
    margin: 1em 0;
    font-size: 0.8em;
}

table.display th,
table.display td{
    padding: .5em 1em;
}

table.display th{ background: #D5E0CC; }
table.display td{ background: #fff; }


@media only screen and (min-width: 768px) {
    .mat-dialog-container {
        max-width: 40vw!important;
    }
}